# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = color-kurenawi
#	email = 70028074+color-kurenawi@users.noreply.github.com

[alias]
    a = add
    c = commit
    br = branch
    co = checkout
    sw = switch
    ss = status
    sh = stash
    sha = stash apply
    shd = stash drop
